body
{
    background-color: #232c41;
}
#header, #nav
{
    display: block;
}
#header
{
    background-color: #50d6ff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    opacity: 0.8;
    border-radius: 10px;
}
#nav
{
    margin-top: 5px;
    background-color: #ea5b0a;
    font-family: Arial, Helvetica, sans-serif;
    
}
#tablaAsignaturas
{
    display: block;
    background-color: white;
}
#divTablaAsignaturas
{
    height: 250px;
    border-radius: 5px;
}
#divBuscarAsignatura
{
    height: 20%;
    background-color: orange;

}
#buscarAsignatura
{
    margin: 15px 400px;
}
#buscarAsignatura input
{
    width: 40%;
    border-radius: 5px;
}
#divTablaAsociar
{
    height: 250px;
    border-radius: 5px;
}