.tablaDinamica
{
    font-size: 15px;
    color: black;
    background-color: white;
    table-layout: fixed;
    height: 100%;
    
}
.tablaDinamica tbody
{
    max-height: 90%;
    overflow-y: auto;
    display: block;   
}
.tablaDinamica thead
{
    background-color: blue;
    color: white;
    display: block;   
}
.tablaDinamica tbody tr:hover
{
    background-color: silver;
    color: black;
}
.tablaDinamica td
{
    width: 140px;
    text-align: center;
    word-wrap: break-word;
}
.tablaDinamica th
{
    width: 140px;
    text-align: center;
    word-wrap: break-word;
}
.btnModificar
{
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.btnEliminar
{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.btnAsociar
{
    background-color: orange;
    color: white; 
    border-radius: 5px;
}